<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.AiSystemSessionMapper">

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.AiSystemSessionDO"
            useGeneratedKeys="true" keyProperty="sessionId">
        INSERT INTO sys_ai_session (capability_id, scene_code, capability_code, session_name, status, create_time, update_time)
        VALUES (#{capabilityId}, #{sceneCode}, #{capabilityCode}, #{sessionName}, #{status}, NOW(), NOW())
    </insert>
</mapper>
