<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.AuthLoginLogMapper">

    <sql id="selectColumns">
        log_id, user_id, username, login_ip, user_agent, status, message, login_time, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="logId != null">
                AND log_id = #{logId}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                AND username = #{username}
            </if>
            <if test="loginIp != null and loginIp != ''">
                AND login_ip = #{loginIp}
            </if>
            <if test="userAgent != null and userAgent != ''">
                AND user_agent = #{userAgent}
            </if>
            <if test="status != null">
                AND status = #{status.code}
            </if>
            <if test="message != null and message != ''">
                AND message = #{message}
            </if>
            <if test="loginTime != null">
                AND login_time = #{loginTime}
            </if>
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.AuthLoginLogDO">
        SELECT <include refid="selectColumns"/>
        FROM auth_login_log
        WHERE log_id = #{id}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.AuthLoginLogDO">
        SELECT <include refid="selectColumns"/>
        FROM auth_login_log
        <include refid="queryConditions"/>
        ORDER BY log_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.AuthLoginLogDO">
        SELECT <include refid="selectColumns"/>
        FROM auth_login_log
        <include refid="queryConditions"/>
        ORDER BY log_id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM auth_login_log
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.AuthLoginLogDO"
            useGeneratedKeys="true" keyProperty="logId">
        INSERT INTO auth_login_log (user_id, username, login_ip, user_agent, status, message, login_time)
        VALUES (#{userId}, #{username}, #{loginIp}, #{userAgent}, #{status}, #{message}, #{loginTime})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.AuthLoginLogDO">
        UPDATE auth_login_log
        SET user_id = #{userId},
            username = #{username},
            login_ip = #{loginIp},
            user_agent = #{userAgent},
            status = #{status},
            message = #{message},
            login_time = #{loginTime}
        WHERE log_id = #{logId}
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.AuthLoginLogDO">
        <if test="userId != null or username != null or loginIp != null or userAgent != null or status != null or message != null or loginTime != null">
            UPDATE auth_login_log
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="loginIp != null">
                login_ip = #{loginIp},
            </if>
            <if test="userAgent != null">
                user_agent = #{userAgent},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="message != null">
                message = #{message},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime},
            </if>
        </set>
            WHERE log_id = #{logId}
        </if>
    </update>

    <delete id="deleteById">
        DELETE FROM auth_login_log WHERE log_id = #{id}
    </delete>
</mapper>
