<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.FileInfoMapper">

    <sql id="selectColumns">
        id, namespace, original_name, file_size, file_type, object_key, remark, create_by, update_by, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="namespace != null and namespace != ''">
                AND namespace = #{namespace}
            </if>
            <if test="originalName != null and originalName != ''">
                AND original_name LIKE CONCAT('%', #{originalName}, '%')
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.FileInfoDO">
        SELECT <include refid="selectColumns"/>
        FROM file_info
        WHERE id = #{id}
    </select>

    <select id="selectByNamespaceAndName" resultType="com.jakt.aiplatform.common.dal.dataobject.FileInfoDO">
        SELECT <include refid="selectColumns"/>
        FROM file_info
        WHERE namespace = #{namespace} AND original_name = #{originalName}
        LIMIT 1
    </select>

    <select id="selectOriginalNamesByNamespace" resultType="string">
        SELECT original_name
        FROM file_info
        WHERE namespace = #{namespace}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.FileInfoDO">
        SELECT <include refid="selectColumns"/>
        FROM file_info
        <include refid="queryConditions"/>
        ORDER BY id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM file_info
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.FileInfoDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file_info (namespace, original_name, file_size, file_type, object_key, remark, create_by, update_by, create_time, update_time)
        VALUES (#{namespace}, #{originalName}, #{fileSize}, #{fileType}, #{objectKey}, #{remark}, #{createBy}, #{updateBy}, NOW(), NOW())
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.FileInfoDO">
        UPDATE file_info
        SET namespace = #{namespace},
            original_name = #{originalName},
            file_size = #{fileSize},
            file_type = #{fileType},
            object_key = #{objectKey},
            remark = #{remark},
            create_by = #{createBy},
            update_by = #{updateBy}, update_time = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.FileInfoDO">
        <if test="originalName != null or fileSize != null or fileType != null or remark != null or updateBy != null">
            UPDATE file_info
            <set>
                <if test="originalName != null">
                    original_name = #{originalName},
                </if>
                <if test="fileSize != null">
                    file_size = #{fileSize},
                </if>
                <if test="fileType != null">
                    file_type = #{fileType},
                </if>
                <if test="remark != null">
                    remark = #{remark},
                </if>
                <if test="updateBy != null">
                    update_by = #{updateBy},
                </if>
                update_time = NOW(),
            </set>
            WHERE id = #{id}
        </if>
    </update>

    <delete id="deleteById">
        DELETE FROM file_info WHERE id = #{id}
    </delete>
</mapper>
