<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.GenTableColumnMapper">

    <sql id="selectColumns">
        column_id, table_id, column_name, column_comment, column_type, java_type, java_field, is_pk, is_increment, is_required, is_insert, is_edit, is_list, is_query, query_type, html_type, dict_type, sort, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="columnId != null">
                AND column_id = #{columnId}
            </if>
            <if test="tableId != null">
                AND table_id = #{tableId}
            </if>
            <if test="columnName != null and columnName != ''">
                AND column_name = #{columnName}
            </if>
            <if test="columnComment != null and columnComment != ''">
                AND column_comment = #{columnComment}
            </if>
            <if test="columnType != null and columnType != ''">
                AND column_type = #{columnType}
            </if>
            <if test="javaType != null and javaType != ''">
                AND java_type = #{javaType}
            </if>
            <if test="javaField != null and javaField != ''">
                AND java_field = #{javaField}
            </if>
            <if test="isPk != null and isPk != ''">
                AND is_pk = #{isPk}
            </if>
            <if test="isIncrement != null and isIncrement != ''">
                AND is_increment = #{isIncrement}
            </if>
            <if test="isRequired != null and isRequired != ''">
                AND is_required = #{isRequired}
            </if>
            <if test="isInsert != null and isInsert != ''">
                AND is_insert = #{isInsert}
            </if>
            <if test="isEdit != null and isEdit != ''">
                AND is_edit = #{isEdit}
            </if>
            <if test="isList != null and isList != ''">
                AND is_list = #{isList}
            </if>
            <if test="isQuery != null and isQuery != ''">
                AND is_query = #{isQuery}
            </if>
            <if test="queryType != null and queryType != ''">
                AND query_type = #{queryType}
            </if>
            <if test="htmlType != null and htmlType != ''">
                AND html_type = #{htmlType}
            </if>
            <if test="dictType != null and dictType != ''">
                AND dict_type = #{dictType}
            </if>
            <if test="sort != null">
                AND sort = #{sort}
            </if>
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.GenTableColumnDO">
        SELECT <include refid="selectColumns"/>
        FROM gen_table_column
        WHERE column_id = #{id}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.GenTableColumnDO">
        SELECT <include refid="selectColumns"/>
        FROM gen_table_column
        <include refid="queryConditions"/>
        ORDER BY column_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.GenTableColumnDO">
        SELECT <include refid="selectColumns"/>
        FROM gen_table_column
        <include refid="queryConditions"/>
        ORDER BY column_id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM gen_table_column
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.GenTableColumnDO"
            useGeneratedKeys="true" keyProperty="columnId">
        INSERT INTO gen_table_column (table_id, column_name, column_comment, column_type, java_type, java_field, is_pk, is_increment, is_required, is_insert, is_edit, is_list, is_query, query_type, html_type, dict_type, sort)
        VALUES (#{tableId}, #{columnName}, #{columnComment}, #{columnType}, #{javaType}, #{javaField}, #{isPk}, #{isIncrement}, #{isRequired}, #{isInsert}, #{isEdit}, #{isList}, #{isQuery}, #{queryType}, #{htmlType}, #{dictType}, #{sort})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.GenTableColumnDO">
        UPDATE gen_table_column
        SET table_id = #{tableId},
            column_name = #{columnName},
            column_comment = #{columnComment},
            column_type = #{columnType},
            java_type = #{javaType},
            java_field = #{javaField},
            is_pk = #{isPk},
            is_increment = #{isIncrement},
            is_required = #{isRequired},
            is_insert = #{isInsert},
            is_edit = #{isEdit},
            is_list = #{isList},
            is_query = #{isQuery},
            query_type = #{queryType},
            html_type = #{htmlType},
            dict_type = #{dictType},
            sort = #{sort}
        WHERE column_id = #{columnId}
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.GenTableColumnDO">
        <if test="tableId != null or columnName != null or columnComment != null or columnType != null or javaType != null or javaField != null or isPk != null or isIncrement != null or isRequired != null or isInsert != null or isEdit != null or isList != null or isQuery != null or queryType != null or htmlType != null or dictType != null or sort != null">
            UPDATE gen_table_column
        <set>
            <if test="tableId != null">
                table_id = #{tableId},
            </if>
            <if test="columnName != null">
                column_name = #{columnName},
            </if>
            <if test="columnComment != null">
                column_comment = #{columnComment},
            </if>
            <if test="columnType != null">
                column_type = #{columnType},
            </if>
            <if test="javaType != null">
                java_type = #{javaType},
            </if>
            <if test="javaField != null">
                java_field = #{javaField},
            </if>
            <if test="isPk != null">
                is_pk = #{isPk},
            </if>
            <if test="isIncrement != null">
                is_increment = #{isIncrement},
            </if>
            <if test="isRequired != null">
                is_required = #{isRequired},
            </if>
            <if test="isInsert != null">
                is_insert = #{isInsert},
            </if>
            <if test="isEdit != null">
                is_edit = #{isEdit},
            </if>
            <if test="isList != null">
                is_list = #{isList},
            </if>
            <if test="isQuery != null">
                is_query = #{isQuery},
            </if>
            <if test="queryType != null">
                query_type = #{queryType},
            </if>
            <if test="htmlType != null">
                html_type = #{htmlType},
            </if>
            <if test="dictType != null">
                dict_type = #{dictType},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
        </set>
            WHERE column_id = #{columnId}
        </if>
    </update>

    <delete id="deleteById">
        DELETE FROM gen_table_column WHERE column_id = #{id}
    </delete>
</mapper>
