<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.GenTableMapper">

    <sql id="selectColumns">
        table_id, table_name, table_comment, sub_table_name, sub_table_fk_name, class_name, tpl_category, package_name, module_name, business_name, function_name, function_author, form_col_num, gen_type, gen_path, options, remark, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="tableId != null">
                AND table_id = #{tableId}
            </if>
            <if test="tableName != null and tableName != ''">
                AND table_name = #{tableName}
            </if>
            <if test="tableComment != null and tableComment != ''">
                AND table_comment = #{tableComment}
            </if>
            <if test="subTableName != null and subTableName != ''">
                AND sub_table_name = #{subTableName}
            </if>
            <if test="subTableFkName != null and subTableFkName != ''">
                AND sub_table_fk_name = #{subTableFkName}
            </if>
            <if test="className != null and className != ''">
                AND class_name = #{className}
            </if>
            <if test="tplCategory != null and tplCategory != ''">
                AND tpl_category = #{tplCategory}
            </if>
            <if test="packageName != null and packageName != ''">
                AND package_name = #{packageName}
            </if>
            <if test="moduleName != null and moduleName != ''">
                AND module_name = #{moduleName}
            </if>
            <if test="businessName != null and businessName != ''">
                AND business_name = #{businessName}
            </if>
            <if test="functionName != null and functionName != ''">
                AND function_name = #{functionName}
            </if>
            <if test="functionAuthor != null and functionAuthor != ''">
                AND function_author = #{functionAuthor}
            </if>
            <if test="formColNum != null">
                AND form_col_num = #{formColNum}
            </if>
            <if test="genType != null and genType != ''">
                AND gen_type = #{genType}
            </if>
            <if test="genPath != null and genPath != ''">
                AND gen_path = #{genPath}
            </if>
            <if test="options != null and options != ''">
                AND options = #{options}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark}
            </if>
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.GenTableDO">
        SELECT <include refid="selectColumns"/>
        FROM gen_table
        WHERE table_id = #{id}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.GenTableDO">
        SELECT <include refid="selectColumns"/>
        FROM gen_table
        <include refid="queryConditions"/>
        ORDER BY table_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.GenTableDO">
        SELECT <include refid="selectColumns"/>
        FROM gen_table
        <include refid="queryConditions"/>
        ORDER BY table_id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM gen_table
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.GenTableDO"
            useGeneratedKeys="true" keyProperty="tableId">
        INSERT INTO gen_table (table_name, table_comment, sub_table_name, sub_table_fk_name, class_name, tpl_category, package_name, module_name, business_name, function_name, function_author, form_col_num, gen_type, gen_path, options, remark)
        VALUES (#{tableName}, #{tableComment}, #{subTableName}, #{subTableFkName}, #{className}, #{tplCategory}, #{packageName}, #{moduleName}, #{businessName}, #{functionName}, #{functionAuthor}, #{formColNum}, #{genType}, #{genPath}, #{options}, #{remark})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.GenTableDO">
        UPDATE gen_table
        SET table_name = #{tableName},
            table_comment = #{tableComment},
            sub_table_name = #{subTableName},
            sub_table_fk_name = #{subTableFkName},
            class_name = #{className},
            tpl_category = #{tplCategory},
            package_name = #{packageName},
            module_name = #{moduleName},
            business_name = #{businessName},
            function_name = #{functionName},
            function_author = #{functionAuthor},
            form_col_num = #{formColNum},
            gen_type = #{genType},
            gen_path = #{genPath},
            options = #{options},
            remark = #{remark}
        WHERE table_id = #{tableId}
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.GenTableDO">
        <if test="tableName != null or tableComment != null or subTableName != null or subTableFkName != null or className != null or tplCategory != null or packageName != null or moduleName != null or businessName != null or functionName != null or functionAuthor != null or formColNum != null or genType != null or genPath != null or options != null or remark != null">
            UPDATE gen_table
        <set>
            <if test="tableName != null">
                table_name = #{tableName},
            </if>
            <if test="tableComment != null">
                table_comment = #{tableComment},
            </if>
            <if test="subTableName != null">
                sub_table_name = #{subTableName},
            </if>
            <if test="subTableFkName != null">
                sub_table_fk_name = #{subTableFkName},
            </if>
            <if test="className != null">
                class_name = #{className},
            </if>
            <if test="tplCategory != null">
                tpl_category = #{tplCategory},
            </if>
            <if test="packageName != null">
                package_name = #{packageName},
            </if>
            <if test="moduleName != null">
                module_name = #{moduleName},
            </if>
            <if test="businessName != null">
                business_name = #{businessName},
            </if>
            <if test="functionName != null">
                function_name = #{functionName},
            </if>
            <if test="functionAuthor != null">
                function_author = #{functionAuthor},
            </if>
            <if test="formColNum != null">
                form_col_num = #{formColNum},
            </if>
            <if test="genType != null">
                gen_type = #{genType},
            </if>
            <if test="genPath != null">
                gen_path = #{genPath},
            </if>
            <if test="options != null">
                options = #{options},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
            WHERE table_id = #{tableId}
        </if>
    </update>

    <delete id="deleteById">
        DELETE FROM gen_table WHERE table_id = #{id}
    </delete>
</mapper>
