<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.SysJobMapper">

    <sql id="selectColumns">
        job_id, job_name, job_group, invoke_target, cron_expression, misfire_policy, concurrent, status, remark, create_by, update_by, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="jobId != null">
                AND job_id = #{jobId}
            </if>
            <if test="jobName != null and jobName != ''">
                AND job_name = #{jobName}
            </if>
            <if test="jobGroup != null and jobGroup != ''">
                AND job_group = #{jobGroup}
            </if>
            <if test="invokeTarget != null and invokeTarget != ''">
                AND invoke_target = #{invokeTarget}
            </if>
            <if test="cronExpression != null and cronExpression != ''">
                AND cron_expression = #{cronExpression}
            </if>
            <if test="misfirePolicy != null and misfirePolicy != ''">
                AND misfire_policy = #{misfirePolicy}
            </if>
            <if test="concurrent != null and concurrent != ''">
                AND concurrent = #{concurrent}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark}
            </if>
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.SysJobDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_job
        WHERE job_id = #{id}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.SysJobDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_job
        <include refid="queryConditions"/>
        ORDER BY job_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.SysJobDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_job
        <include refid="queryConditions"/>
        ORDER BY job_id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM sys_job
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysJobDO"
            useGeneratedKeys="true" keyProperty="jobId">
        INSERT INTO sys_job (job_name, job_group, invoke_target, cron_expression, misfire_policy, concurrent, status, remark, create_by, update_by)
        VALUES (#{jobName}, #{jobGroup}, #{invokeTarget}, #{cronExpression}, #{misfirePolicy}, #{concurrent}, #{status}, #{remark}, #{createBy}, #{updateBy})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysJobDO">
        UPDATE sys_job
        SET job_name = #{jobName},
            job_group = #{jobGroup},
            invoke_target = #{invokeTarget},
            cron_expression = #{cronExpression},
            misfire_policy = #{misfirePolicy},
            concurrent = #{concurrent},
            status = #{status},
            remark = #{remark}
        WHERE job_id = #{jobId}
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysJobDO">
        <if test="jobName != null or jobGroup != null or invokeTarget != null or cronExpression != null or misfirePolicy != null or concurrent != null or status != null or remark != null">
            UPDATE sys_job
        <set>
            <if test="jobName != null">
                job_name = #{jobName},
            </if>
            <if test="jobGroup != null">
                job_group = #{jobGroup},
            </if>
            <if test="invokeTarget != null">
                invoke_target = #{invokeTarget},
            </if>
            <if test="cronExpression != null">
                cron_expression = #{cronExpression},
            </if>
            <if test="misfirePolicy != null">
                misfire_policy = #{misfirePolicy},
            </if>
            <if test="concurrent != null">
                concurrent = #{concurrent},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
            WHERE job_id = #{jobId}
        </if>
    </update>

    <delete id="deleteById">
        DELETE FROM sys_job WHERE job_id = #{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM sys_job WHERE job_id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
