<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.SysLogininforMapper">

    <sql id="selectColumns">
        info_id, login_name, ipaddr, login_location, browser, os, status, msg, login_time, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="infoId != null">
                AND info_id = #{infoId}
            </if>
            <if test="loginName != null and loginName != ''">
                AND login_name = #{loginName}
            </if>
            <if test="ipaddr != null and ipaddr != ''">
                AND ipaddr = #{ipaddr}
            </if>
            <if test="loginLocation != null and loginLocation != ''">
                AND login_location = #{loginLocation}
            </if>
            <if test="browser != null and browser != ''">
                AND browser = #{browser}
            </if>
            <if test="os != null and os != ''">
                AND os = #{os}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="msg != null and msg != ''">
                AND msg = #{msg}
            </if>
            <if test="loginTime != null">
                AND login_time = #{loginTime}
            </if>
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.SysLogininforDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_logininfor
        WHERE info_id = #{id}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.SysLogininforDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_logininfor
        <include refid="queryConditions"/>
        ORDER BY info_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.SysLogininforDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_logininfor
        <include refid="queryConditions"/>
        ORDER BY info_id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM sys_logininfor
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysLogininforDO"
            useGeneratedKeys="true" keyProperty="infoId">
        INSERT INTO sys_logininfor (login_name, ipaddr, login_location, browser, os, status, msg, login_time)
        VALUES (#{loginName}, #{ipaddr}, #{loginLocation}, #{browser}, #{os}, #{status}, #{msg}, #{loginTime})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysLogininforDO">
        UPDATE sys_logininfor
        SET login_name = #{loginName},
            ipaddr = #{ipaddr},
            login_location = #{loginLocation},
            browser = #{browser},
            os = #{os},
            status = #{status},
            msg = #{msg},
            login_time = #{loginTime}
        WHERE info_id = #{infoId}
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysLogininforDO">
        <if test="loginName != null or ipaddr != null or loginLocation != null or browser != null or os != null or status != null or msg != null or loginTime != null">
            UPDATE sys_logininfor
        <set>
            <if test="loginName != null">
                login_name = #{loginName},
            </if>
            <if test="ipaddr != null">
                ipaddr = #{ipaddr},
            </if>
            <if test="loginLocation != null">
                login_location = #{loginLocation},
            </if>
            <if test="browser != null">
                browser = #{browser},
            </if>
            <if test="os != null">
                os = #{os},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="msg != null">
                msg = #{msg},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime},
            </if>
        </set>
            WHERE info_id = #{infoId}
        </if>
    </update>

    <delete id="deleteById">
        DELETE FROM sys_logininfor WHERE info_id = #{id}
    </delete>
</mapper>
