<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.SysMenuMapper">

    <sql id="selectColumns">
        menu_id, menu_name, parent_id, order_num, url, target, menu_type, visible, is_refresh, ifnull(perms, '') as perms, icon, remark, create_by, update_by, create_time, update_time
    </sql>

    <sql id="selectMenuVo">
        SELECT menu_id, menu_name, parent_id, order_num, url, target, menu_type, visible, is_refresh, ifnull(perms, '') AS perms, icon, create_by, create_time
        FROM sys_menu
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="menuId != null">
                AND menu_id = #{menuId}
            </if>
            <if test="menuName != null and menuName != ''">
                AND menu_name = #{menuName}
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
            <if test="orderNum != null">
                AND order_num = #{orderNum}
            </if>
            <if test="url != null and url != ''">
                AND url = #{url}
            </if>
            <if test="target != null and target != ''">
                AND target = #{target}
            </if>
            <if test="menuType != null and menuType != ''">
                AND menu_type = #{menuType}
            </if>
            <if test="visible != null and visible != ''">
                AND visible = #{visible}
            </if>
            <if test="isRefresh != null and isRefresh != ''">
                AND is_refresh = #{isRefresh}
            </if>
            <if test="perms != null and perms != ''">
                AND perms = #{perms}
            </if>
            <if test="icon != null and icon != ''">
                AND icon = #{icon}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark}
            </if>
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_menu
        WHERE menu_id = #{id}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_menu
        <include refid="queryConditions"/>
        ORDER BY menu_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_menu
        <include refid="queryConditions"/>
        ORDER BY menu_id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM sys_menu
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO"
            useGeneratedKeys="true" keyProperty="menuId">
        INSERT INTO sys_menu (menu_name, parent_id, order_num, url, target, menu_type, visible, is_refresh, perms, icon, remark, create_by, update_by)
        VALUES (#{menuName}, #{parentId}, #{orderNum}, #{url}, #{target}, #{menuType}, #{visible}, #{isRefresh}, #{perms}, #{icon}, #{remark}, #{createBy}, #{updateBy})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        UPDATE sys_menu
        SET menu_name = #{menuName},
            parent_id = #{parentId},
            order_num = #{orderNum},
            url = #{url},
            target = #{target},
            menu_type = #{menuType},
            visible = #{visible},
            is_refresh = #{isRefresh},
            perms = #{perms},
            icon = #{icon},
            remark = #{remark},
            update_by = #{updateBy}
        WHERE menu_id = #{menuId}
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        <if test="menuName != null or parentId != null or orderNum != null or url != null or target != null or menuType != null or visible != null or isRefresh != null or perms != null or icon != null or remark != null">
            UPDATE sys_menu
        <set>
            <if test="menuName != null">
                menu_name = #{menuName},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="target != null">
                target = #{target},
            </if>
            <if test="menuType != null">
                menu_type = #{menuType},
            </if>
            <if test="visible != null">
                visible = #{visible},
            </if>
            <if test="isRefresh != null">
                is_refresh = #{isRefresh},
            </if>
            <if test="perms != null">
                perms = #{perms},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
            WHERE menu_id = #{menuId}
        </if>
    </update>

    <delete id="deleteById">
        DELETE FROM sys_menu WHERE menu_id = #{id}
    </delete>

    <select id="selectMenuAll" resultType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        <include refid="selectMenuVo"/>
        ORDER BY parent_id, order_num
    </select>

    <select id="selectMenuAllByUserId" resultType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        SELECT DISTINCT m.menu_id, m.parent_id, m.menu_name, m.url, m.visible, m.is_refresh, ifnull(m.perms, '') AS perms,
                        m.target, m.menu_type, m.icon, m.order_num, m.create_time
        FROM sys_menu m
                 LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
                 LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
                 LEFT JOIN sys_role ro ON ur.role_id = ro.role_id
        WHERE ur.user_id = #{userId}
        ORDER BY m.parent_id, m.order_num
    </select>

    <select id="selectMenuNormalAll" resultType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        SELECT DISTINCT m.menu_id, m.parent_id, m.menu_name, m.url, m.visible, m.is_refresh, ifnull(m.perms, '') AS perms,
                        m.target, m.menu_type, m.icon, m.order_num, m.create_time
        FROM sys_menu m
        WHERE m.menu_type IN ('M', 'C') AND m.visible = 0
        ORDER BY m.parent_id, m.order_num
    </select>

    <select id="selectMenusByUserId" resultType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        SELECT DISTINCT m.menu_id, m.parent_id, m.menu_name, m.url, m.visible, m.is_refresh, ifnull(m.perms, '') AS perms,
                        m.target, m.menu_type, m.icon, m.order_num, m.create_time
        FROM sys_menu m
                 LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
                 LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
                 LEFT JOIN sys_role ro ON ur.role_id = ro.role_id
        WHERE ur.user_id = #{userId} AND m.menu_type IN ('M', 'C') AND m.visible = 0 AND ro.status = 0
        ORDER BY m.parent_id, m.order_num
    </select>

    <select id="selectPermsByUserId" resultType="String">
        SELECT DISTINCT m.perms
        FROM sys_menu m
                 LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
                 LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
                 LEFT JOIN sys_role r ON r.role_id = ur.role_id
        WHERE m.visible = '0' AND r.status = '0' AND ur.user_id = #{userId}
    </select>

    <select id="selectPermsByRoleId" resultType="String">
        SELECT DISTINCT m.perms
        FROM sys_menu m
                 LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
        WHERE m.visible = '0' AND rm.role_id = #{roleId}
    </select>

    <select id="selectMenuTree" resultType="String">
        SELECT concat(m.menu_id, ifnull(m.perms, '')) AS perms
        FROM sys_menu m
                 LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
        WHERE rm.role_id = #{roleId}
        ORDER BY m.parent_id, m.order_num
    </select>

    <select id="selectMenuList" resultType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        <include refid="selectMenuVo"/>
        <where>
            <if test="menuName != null and menuName != ''">
                AND menu_name LIKE concat('%', #{menuName}, '%')
            </if>
            <if test="visible != null and visible != ''">
                AND visible = #{visible}
            </if>
        </where>
        ORDER BY parent_id, order_num
    </select>

    <select id="selectMenuListByUserId" resultType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        SELECT DISTINCT m.menu_id, m.parent_id, m.menu_name, m.url, m.visible, m.is_refresh, ifnull(m.perms, '') AS perms,
                        m.target, m.menu_type, m.icon, m.order_num, m.create_time
        FROM sys_menu m
                 LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
                 LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
                 LEFT JOIN sys_role ro ON ur.role_id = ro.role_id
        WHERE ur.user_id = #{params.userId}
        <if test="menuName != null and menuName != ''">
            AND m.menu_name LIKE concat('%', #{menuName}, '%')
        </if>
        <if test="visible != null and visible != ''">
            AND m.visible = #{visible}
        </if>
        ORDER BY m.parent_id, m.order_num
    </select>

    <delete id="deleteMenuById">
        DELETE FROM sys_menu WHERE menu_id = #{menuId} OR parent_id = #{menuId}
    </delete>

    <select id="selectMenuById" resultType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        SELECT t.menu_id, t.parent_id, t.menu_name, t.order_num, t.url, t.target, t.menu_type, t.visible, t.is_refresh,
               ifnull(t.perms, '') AS perms, t.icon, t.remark, t.create_by, t.update_by,
               (SELECT menu_name FROM sys_menu WHERE menu_id = t.parent_id) AS parent_name
        FROM sys_menu t
        WHERE t.menu_id = #{menuId}
    </select>

    <select id="selectCountMenuByParentId" resultType="int">
        SELECT COUNT(1) FROM sys_menu WHERE parent_id = #{parentId}
    </select>

    <select id="checkMenuNameUnique" resultType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        <include refid="selectMenuVo"/>
        WHERE menu_name = #{menuName} AND parent_id = #{parentId}
        LIMIT 1
    </select>

    <update id="updateMenuSort" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysMenuDO">
        UPDATE sys_menu
        SET order_num = #{orderNum}
        WHERE menu_id = #{menuId}
    </update>
</mapper>
