<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.SysOperLogMapper">

    <sql id="selectColumns">
        oper_id, title, business_type, method, request_method, operator_type, oper_name, dept_name, oper_url, oper_ip, oper_location, oper_param, json_result, status, error_msg, oper_time, cost_time, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="operId != null">
                AND oper_id = #{operId}
            </if>
            <if test="title != null and title != ''">
                AND title = #{title}
            </if>
            <if test="businessType != null">
                AND business_type = #{businessType}
            </if>
            <if test="method != null and method != ''">
                AND method = #{method}
            </if>
            <if test="requestMethod != null and requestMethod != ''">
                AND request_method = #{requestMethod}
            </if>
            <if test="operatorType != null">
                AND operator_type = #{operatorType}
            </if>
            <if test="operName != null and operName != ''">
                AND oper_name = #{operName}
            </if>
            <if test="deptName != null and deptName != ''">
                AND dept_name = #{deptName}
            </if>
            <if test="operUrl != null and operUrl != ''">
                AND oper_url = #{operUrl}
            </if>
            <if test="operIp != null and operIp != ''">
                AND oper_ip = #{operIp}
            </if>
            <if test="operLocation != null and operLocation != ''">
                AND oper_location = #{operLocation}
            </if>
            <if test="operParam != null and operParam != ''">
                AND oper_param = #{operParam}
            </if>
            <if test="jsonResult != null and jsonResult != ''">
                AND json_result = #{jsonResult}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="errorMsg != null and errorMsg != ''">
                AND error_msg = #{errorMsg}
            </if>
            <if test="operTime != null">
                AND oper_time = #{operTime}
            </if>
            <if test="costTime != null">
                AND cost_time = #{costTime}
            </if>
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.SysOperLogDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_oper_log
        WHERE oper_id = #{id}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.SysOperLogDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_oper_log
        <include refid="queryConditions"/>
        ORDER BY oper_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.SysOperLogDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_oper_log
        <include refid="queryConditions"/>
        ORDER BY oper_id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM sys_oper_log
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysOperLogDO"
            useGeneratedKeys="true" keyProperty="operId">
        INSERT INTO sys_oper_log (title, business_type, method, request_method, operator_type, oper_name, dept_name, oper_url, oper_ip, oper_location, oper_param, json_result, status, error_msg, oper_time, cost_time)
        VALUES (#{title}, #{businessType}, #{method}, #{requestMethod}, #{operatorType}, #{operName}, #{deptName}, #{operUrl}, #{operIp}, #{operLocation}, #{operParam}, #{jsonResult}, #{status}, #{errorMsg}, #{operTime}, #{costTime})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysOperLogDO">
        UPDATE sys_oper_log
        SET title = #{title},
            business_type = #{businessType},
            method = #{method},
            request_method = #{requestMethod},
            operator_type = #{operatorType},
            oper_name = #{operName},
            dept_name = #{deptName},
            oper_url = #{operUrl},
            oper_ip = #{operIp},
            oper_location = #{operLocation},
            oper_param = #{operParam},
            json_result = #{jsonResult},
            status = #{status},
            error_msg = #{errorMsg},
            oper_time = #{operTime},
            cost_time = #{costTime}
        WHERE oper_id = #{operId}
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysOperLogDO">
        <if test="title != null or businessType != null or method != null or requestMethod != null or operatorType != null or operName != null or deptName != null or operUrl != null or operIp != null or operLocation != null or operParam != null or jsonResult != null or status != null or errorMsg != null or operTime != null or costTime != null">
            UPDATE sys_oper_log
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="businessType != null">
                business_type = #{businessType},
            </if>
            <if test="method != null">
                method = #{method},
            </if>
            <if test="requestMethod != null">
                request_method = #{requestMethod},
            </if>
            <if test="operatorType != null">
                operator_type = #{operatorType},
            </if>
            <if test="operName != null">
                oper_name = #{operName},
            </if>
            <if test="deptName != null">
                dept_name = #{deptName},
            </if>
            <if test="operUrl != null">
                oper_url = #{operUrl},
            </if>
            <if test="operIp != null">
                oper_ip = #{operIp},
            </if>
            <if test="operLocation != null">
                oper_location = #{operLocation},
            </if>
            <if test="operParam != null">
                oper_param = #{operParam},
            </if>
            <if test="jsonResult != null">
                json_result = #{jsonResult},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="errorMsg != null">
                error_msg = #{errorMsg},
            </if>
            <if test="operTime != null">
                oper_time = #{operTime},
            </if>
            <if test="costTime != null">
                cost_time = #{costTime},
            </if>
        </set>
            WHERE oper_id = #{operId}
        </if>
    </update>

    <delete id="deleteById">
        DELETE FROM sys_oper_log WHERE oper_id = #{id}
    </delete>
</mapper>
