<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.SysPostMapper">

    <sql id="selectColumns">
        post_id, post_code, post_name, post_sort, status, remark, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="postId != null">
                AND post_id = #{postId}
            </if>
            <if test="postCode != null and postCode != ''">
                AND post_code = #{postCode}
            </if>
            <if test="postName != null and postName != ''">
                AND post_name = #{postName}
            </if>
            <if test="postSort != null">
                AND post_sort = #{postSort}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark}
            </if>
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.SysPostDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_post
        WHERE post_id = #{id}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.SysPostDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_post
        <include refid="queryConditions"/>
        ORDER BY post_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.SysPostDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_post
        <include refid="queryConditions"/>
        ORDER BY post_id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM sys_post
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysPostDO"
            useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO sys_post (post_code, post_name, post_sort, status, remark)
        VALUES (#{postCode}, #{postName}, #{postSort}, #{status}, #{remark})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysPostDO">
        UPDATE sys_post
        SET post_code = #{postCode},
            post_name = #{postName},
            post_sort = #{postSort},
            status = #{status},
            remark = #{remark}
        WHERE post_id = #{postId}
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysPostDO">
        <if test="postCode != null or postName != null or postSort != null or status != null or remark != null">
            UPDATE sys_post
        <set>
            <if test="postCode != null">
                post_code = #{postCode},
            </if>
            <if test="postName != null">
                post_name = #{postName},
            </if>
            <if test="postSort != null">
                post_sort = #{postSort},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
            WHERE post_id = #{postId}
        </if>
    </update>

    <delete id="deleteById">
        DELETE FROM sys_post WHERE post_id = #{id}
    </delete>
</mapper>
