<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.SysRoleDeptMapper">

    <sql id="selectColumns">
        id, role_id, dept_id, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="roleId != null">
                AND role_id = #{roleId}
            </if>
            <if test="deptId != null">
                AND dept_id = #{deptId}
            </if>
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDeptDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_role_dept
        WHERE id = #{id}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDeptDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_role_dept
        <include refid="queryConditions"/>
        ORDER BY id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDeptDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_role_dept
        <include refid="queryConditions"/>
        ORDER BY id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM sys_role_dept
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDeptDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_role_dept (role_id, dept_id)
        VALUES (#{roleId}, #{deptId})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDeptDO">
        UPDATE sys_role_dept
        SET role_id = #{roleId},
            dept_id = #{deptId}
        WHERE id = #{id}
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDeptDO">
        <if test="roleId != null or deptId != null">
            UPDATE sys_role_dept
        <set>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
        </set>
            WHERE id = #{id}
        </if>
    </update>

    <delete id="deleteById">
        DELETE FROM sys_role_dept WHERE id = #{id}
    </delete>

    <delete id="deleteRoleDeptByRoleId">
        DELETE FROM sys_role_dept WHERE role_id = #{roleId}
    </delete>

    <select id="selectCountRoleDeptByDeptId" resultType="int">
        SELECT COUNT(1) FROM sys_role_dept WHERE dept_id = #{deptId}
    </select>

    <delete id="deleteRoleDept">
        DELETE FROM sys_role_dept WHERE role_id IN
        <foreach collection="array" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <insert id="batchRoleDept">
        INSERT INTO sys_role_dept (role_id, dept_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.deptId})
        </foreach>
    </insert>
</mapper>
