<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.SysRoleMapper">

    <sql id="selectColumns">
        role_id, role_name, role_key, role_sort, data_scope, status, remark, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="roleId != null">
                AND role_id = #{roleId}
            </if>
            <if test="roleName != null and roleName != ''">
                AND role_name = #{roleName}
            </if>
            <if test="roleKey != null and roleKey != ''">
                AND role_key = #{roleKey}
            </if>
            <if test="roleSort != null">
                AND role_sort = #{roleSort}
            </if>
            <if test="dataScope != null and dataScope != ''">
                AND data_scope = #{dataScope}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark}
            </if>
            AND del_flag = '0'
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_role
        WHERE role_id = #{id}
        AND del_flag = '0'
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_role
        <include refid="queryConditions"/>
        ORDER BY role_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_role
        <include refid="queryConditions"/>
        ORDER BY role_id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM sys_role
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDO"
            useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO sys_role (role_name, role_key, role_sort, data_scope, status, remark)
        VALUES (#{roleName}, #{roleKey}, #{roleSort}, #{dataScope}, #{status}, #{remark})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDO">
        UPDATE sys_role
        SET role_name = #{roleName},
            role_key = #{roleKey},
            role_sort = #{roleSort},
            data_scope = #{dataScope},
            status = #{status},
            remark = #{remark}
        WHERE role_id = #{roleId}
        AND del_flag = '0'
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDO">
        <if test="roleName != null or roleKey != null or roleSort != null or dataScope != null or status != null or remark != null">
            UPDATE sys_role
        <set>
            <if test="roleName != null">
                role_name = #{roleName},
            </if>
            <if test="roleKey != null">
                role_key = #{roleKey},
            </if>
            <if test="roleSort != null">
                role_sort = #{roleSort},
            </if>
            <if test="dataScope != null">
                data_scope = #{dataScope},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
            WHERE role_id = #{roleId}
            AND del_flag = '0'
        </if>
    </update>

    <update id="deleteById" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysRoleDO">
        UPDATE sys_role
        SET del_flag = '2'
        WHERE role_id = #{id} AND del_flag = '0'
    </update>
</mapper>
