<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.SysUserOnlineMapper">

    <sql id="selectColumns">
        sessionId, login_name, dept_name, ipaddr, login_location, browser, os, status, start_timestamp, last_access_time, expire_time, session_data, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="sessionId != null and sessionId != ''">
                AND sessionId = #{sessionId}
            </if>
            <if test="loginName != null and loginName != ''">
                AND login_name = #{loginName}
            </if>
            <if test="deptName != null and deptName != ''">
                AND dept_name = #{deptName}
            </if>
            <if test="ipaddr != null and ipaddr != ''">
                AND ipaddr = #{ipaddr}
            </if>
            <if test="loginLocation != null and loginLocation != ''">
                AND login_location = #{loginLocation}
            </if>
            <if test="browser != null and browser != ''">
                AND browser = #{browser}
            </if>
            <if test="os != null and os != ''">
                AND os = #{os}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="startTimestamp != null">
                AND start_timestamp = #{startTimestamp}
            </if>
            <if test="lastAccessTime != null">
                AND last_access_time = #{lastAccessTime}
            </if>
            <if test="expireTime != null">
                AND expire_time = #{expireTime}
            </if>
            <if test="sessionData != null and sessionData != ''">
                AND session_data = #{sessionData}
            </if>
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.SysUserOnlineDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_user_online
        WHERE sessionId = #{id}
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.SysUserOnlineDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_user_online
        <include refid="queryConditions"/>
        ORDER BY sessionId DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.SysUserOnlineDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_user_online
        <include refid="queryConditions"/>
        ORDER BY sessionId DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM sys_user_online
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysUserOnlineDO">
        INSERT INTO sys_user_online (sessionId, login_name, dept_name, ipaddr, login_location, browser, os, status, start_timestamp, last_access_time, expire_time, session_data)
        VALUES (#{sessionId}, #{loginName}, #{deptName}, #{ipaddr}, #{loginLocation}, #{browser}, #{os}, #{status}, #{startTimestamp}, #{lastAccessTime}, #{expireTime}, #{sessionData})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysUserOnlineDO">
        UPDATE sys_user_online
        SET login_name = #{loginName},
            dept_name = #{deptName},
            ipaddr = #{ipaddr},
            login_location = #{loginLocation},
            browser = #{browser},
            os = #{os},
            status = #{status},
            start_timestamp = #{startTimestamp},
            last_access_time = #{lastAccessTime},
            expire_time = #{expireTime},
            session_data = #{sessionData}
        WHERE sessionId = #{sessionId}
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysUserOnlineDO">
        <if test="loginName != null or deptName != null or ipaddr != null or loginLocation != null or browser != null or os != null or status != null or startTimestamp != null or lastAccessTime != null or expireTime != null or sessionData != null">
            UPDATE sys_user_online
        <set>
            <if test="loginName != null">
                login_name = #{loginName},
            </if>
            <if test="deptName != null">
                dept_name = #{deptName},
            </if>
            <if test="ipaddr != null">
                ipaddr = #{ipaddr},
            </if>
            <if test="loginLocation != null">
                login_location = #{loginLocation},
            </if>
            <if test="browser != null">
                browser = #{browser},
            </if>
            <if test="os != null">
                os = #{os},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="startTimestamp != null">
                start_timestamp = #{startTimestamp},
            </if>
            <if test="lastAccessTime != null">
                last_access_time = #{lastAccessTime},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime},
            </if>
            <if test="sessionData != null">
                session_data = #{sessionData},
            </if>
        </set>
            WHERE sessionId = #{sessionId}
        </if>
    </update>

    <delete id="deleteById">
        DELETE FROM sys_user_online WHERE sessionId = #{id}
    </delete>
</mapper>
