<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jakt.aiplatform.common.dal.mapper.SysUserMapper">

    <sql id="selectColumns">
        user_id, dept_id, login_name, user_name, user_type, email, phonenumber, sex, avatar, password, salt, status, login_ip, login_date, pwd_update_date, remark, create_time, update_time
    </sql>

    <sql id="queryConditions">
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="deptId != null">
                AND dept_id = #{deptId}
            </if>
            <if test="loginName != null and loginName != ''">
                AND login_name = #{loginName}
            </if>
            <if test="userName != null and userName != ''">
                AND user_name = #{userName}
            </if>
            <if test="userType != null and userType != ''">
                AND user_type = #{userType}
            </if>
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                AND phonenumber = #{phonenumber}
            </if>
            <if test="sex != null and sex != ''">
                AND sex = #{sex}
            </if>
            <if test="avatar != null and avatar != ''">
                AND avatar = #{avatar}
            </if>
            <if test="password != null and password != ''">
                AND password = #{password}
            </if>
            <if test="salt != null and salt != ''">
                AND salt = #{salt}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="loginIp != null and loginIp != ''">
                AND login_ip = #{loginIp}
            </if>
            <if test="loginDate != null">
                AND login_date = #{loginDate}
            </if>
            <if test="pwdUpdateDate != null">
                AND pwd_update_date = #{pwdUpdateDate}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark}
            </if>
            AND del_flag = '0'
            <if test="createTimeBegin != null">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="updateTimeBegin != null">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="updateTimeEnd != null">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.jakt.aiplatform.common.dal.dataobject.SysUserDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_user
        WHERE user_id = #{id}
        AND del_flag = '0'
    </select>

    <select id="selectPage" resultType="com.jakt.aiplatform.common.dal.dataobject.SysUserDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_user
        <include refid="queryConditions"/>
        ORDER BY user_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectList" resultType="com.jakt.aiplatform.common.dal.dataobject.SysUserDO">
        SELECT <include refid="selectColumns"/>
        FROM sys_user
        <include refid="queryConditions"/>
        ORDER BY user_id DESC
    </select>

    <select id="countByQuery" resultType="long">
        SELECT COUNT(*)
        FROM sys_user
        <include refid="queryConditions"/>
    </select>

    <insert id="insert" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysUserDO"
            useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO sys_user (dept_id, login_name, user_name, user_type, email, phonenumber, sex, avatar, password, salt, status, login_ip, login_date, pwd_update_date, remark)
        VALUES (#{deptId}, #{loginName}, #{userName}, #{userType}, #{email}, #{phonenumber}, #{sex}, #{avatar}, #{password}, #{salt}, #{status}, #{loginIp}, #{loginDate}, #{pwdUpdateDate}, #{remark})
    </insert>

    <update id="update" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysUserDO">
        UPDATE sys_user
        SET dept_id = #{deptId},
            login_name = #{loginName},
            user_name = #{userName},
            user_type = #{userType},
            email = #{email},
            phonenumber = #{phonenumber},
            sex = #{sex},
            avatar = #{avatar},
            password = #{password},
            salt = #{salt},
            status = #{status},
            login_ip = #{loginIp},
            login_date = #{loginDate},
            pwd_update_date = #{pwdUpdateDate},
            remark = #{remark}
        WHERE user_id = #{userId}
        AND del_flag = '0'
    </update>

    <update id="updateByCondition" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysUserDO">
        <if test="deptId != null or loginName != null or userName != null or userType != null or email != null or phonenumber != null or sex != null or avatar != null or password != null or salt != null or status != null or loginIp != null or loginDate != null or pwdUpdateDate != null or remark != null">
            UPDATE sys_user
        <set>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="loginName != null">
                login_name = #{loginName},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="userType != null">
                user_type = #{userType},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phonenumber != null">
                phonenumber = #{phonenumber},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="salt != null">
                salt = #{salt},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="loginIp != null">
                login_ip = #{loginIp},
            </if>
            <if test="loginDate != null">
                login_date = #{loginDate},
            </if>
            <if test="pwdUpdateDate != null">
                pwd_update_date = #{pwdUpdateDate},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
            WHERE user_id = #{userId}
            AND del_flag = '0'
        </if>
    </update>

    <update id="deleteById" parameterType="com.jakt.aiplatform.common.dal.dataobject.SysUserDO">
        UPDATE sys_user
        SET del_flag = '2'
        WHERE user_id = #{id} AND del_flag = '0'
    </update>

    <update id="deleteByIds">
        UPDATE sys_user
        SET del_flag = '2'
        WHERE user_id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND del_flag = '0'
    </update>

    <!-- ==================== RuoYi 移植：join 部门查询（投影 Result） ==================== -->
    <sql id="selectUserListVo">
        select u.user_id, u.dept_id, u.login_name, u.user_name, u.user_type, u.email, u.phonenumber,
               u.sex, u.avatar, u.status, u.login_ip, u.login_date, u.pwd_update_date, u.remark,
               u.create_by, u.create_time, u.del_flag,
               d.dept_name, d.leader
        from sys_user u
        left join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectUserList" resultType="com.jakt.aiplatform.core.model.result.SysUserListResult">
        <include refid="selectUserListVo"/>
        <where>
            u.del_flag = '0'
            <if test="userId != null">
                AND u.user_id = #{userId}
            </if>
            <if test="loginName != null and loginName != ''">
                AND u.login_name like concat('%', #{loginName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND u.status = #{status}
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                AND u.phonenumber like concat('%', #{phonenumber}, '%')
            </if>
            <if test="deptId != null">
                AND u.dept_id = #{deptId}
            </if>
            <if test="createTimeBegin != null">
                AND u.create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                AND u.create_time &lt;= #{createTimeEnd}
            </if>
        </where>
        ORDER BY u.user_id DESC
    </select>

    <select id="selectAllocatedList" resultType="com.jakt.aiplatform.core.model.result.SysUserListResult">
        <include refid="selectUserListVo"/>
        <where>
            u.del_flag = '0'
            AND u.user_id IN (SELECT ur.user_id FROM sys_user_role ur WHERE ur.role_id = #{roleId})
            <if test="loginName != null and loginName != ''">
                AND u.login_name like concat('%', #{loginName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND u.status = #{status}
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                AND u.phonenumber like concat('%', #{phonenumber}, '%')
            </if>
        </where>
        ORDER BY u.user_id DESC
    </select>

    <select id="selectUnallocatedList" resultType="com.jakt.aiplatform.core.model.result.SysUserListResult">
        <include refid="selectUserListVo"/>
        <where>
            u.del_flag = '0'
            AND u.user_id NOT IN (SELECT ur.user_id FROM sys_user_role ur WHERE ur.role_id = #{roleId})
            <if test="loginName != null and loginName != ''">
                AND u.login_name like concat('%', #{loginName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND u.status = #{status}
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                AND u.phonenumber like concat('%', #{phonenumber}, '%')
            </if>
        </where>
        ORDER BY u.user_id DESC
    </select>

    <!-- 用户详情：join 部门 + 角色（selectUserVo 语义，一行 = 用户 × 角色） -->
    <sql id="selectUserDetailVo">
        select u.user_id, u.dept_id, u.login_name, u.user_name, u.user_type, u.email, u.phonenumber,
               u.sex, u.avatar, u.password, u.salt, u.status, u.login_ip, u.login_date, u.pwd_update_date, u.remark,
               u.create_by, u.create_time, u.update_by, u.update_time, u.del_flag,
               d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.status as dept_status,
               r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.status as role_status
        from sys_user u
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
    </sql>

    <select id="selectUserDetail" resultType="com.jakt.aiplatform.core.model.result.SysUserDetailResult">
        <include refid="selectUserDetailVo"/>
        <where>
            u.del_flag = '0'
            <if test="userId != null">
                AND u.user_id = #{userId}
            </if>
            <if test="loginName != null and loginName != ''">
                AND u.login_name = #{loginName}
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                AND u.phonenumber = #{phonenumber}
            </if>
            <if test="email != null and email != ''">
                AND u.email = #{email}
            </if>
        </where>
    </select>
</mapper>
